{{> header}}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>source</th>
      <th>destination</th>
      <th>domain</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{id}}</th>
        <td class="main-value">{{source}}</td>
        <td>{{{destination}}}</td>
        <td>{{domain}}</td>
        <td>
          <button type="button" class="btn btn-primary">
            <i class="fa fa-pencil edit-user" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary btn-delete">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="" method="post">
  <label for="POST_source">Source:</label>
  <input type="text" name="source" id="POST_source">

  <label for="POST_destination">Destination:</label>
  <input type="text" name="destination" id="POST_destination">

  <label for="POST_domain">Domain:</label>
  <select name="domain" id="POST_domain">
      {{#each domains}}
        <option value="{{{id}}}">{{{name}}}</option>
      {{/each}}
    </select>
  <div class="addButton">
    <button type="submit" class="btn btn-primary" value="Save" name="AddAliasBtn">Add Alias</button>
  </div>
</form>
{{> footer}}
