{{> header}}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>domain</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{{name}}}</td>
        <td class="userEmail">{{email}}</td>
        <td><i class="fa fa-pencil edit-user" aria-hidden="true"></i><i class="fa fa-trash delete-user" aria-hidden="true"></i></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="" method="post">
  <label for="POST_user">User/Email:</label>
  <input type="text" name="user" id="POST_user">

  <label for="POST_password">Password:</label>
  <input type="password" name="password" id="POST_password">

  <label for="POST_domain">Domain:</label>
  <select name="domain" id="POST_domain">
      {{#each domains}}
        <option value="{{{id}}}">{{{name}}}</option>
      {{/each}}
    </select>
  <div class="addButton">
    <button type="submit" class="btn btn-primary" value="Save" name="AddAliasBtn">Add User</button>
  </div>
</form>
{{> footer}}
